.bg-header {
  background-color: #249604 !important;
  width: 100%;
}
.bg-footer {
  background-color: #495057 !important;
  width: 100%;
  bottom: 0;
}

.successMSG{
  background: #a78728;
  padding-top: 5px;
  padding-bottom: 5px;
}

.addmeal {
    margin-top: 30px;
    background-color: #495057 !important;
    border-radius: 10px;
    padding: 20px;
}

a {
    color: #249604; !important
}

.btn-primary {
    color: #fff;
    background-color: #249604; !important
    border-color: #1e7e34; !important
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #28a745; !important
    border-color: #1e7e34; !important
}
